[Messages Control]
disable=
    too-many-instance-attributes,
    too-many-public-methods,
    too-many-lines,
    too-few-public-methods,
    duplicate-code,
    bad-continuation,
    raise-missing-from

max-line-length=120
notes=fixme

[REPORTS]
output-format=colorized

[MASTER]
ignore=examples,docs

[IMPORTS]
ignored-modules=aiohttp